.DS_Store
node_modules/
*.log
dist/
build/
coverage/
*.sqlite
src/data/database.sqlite
*.env
.env.*
tmp/
temp/
*.swp
*.swo
*.bak
npm-debug.log*
test-results/
/.vscode/
/.idea/
package-lock.json
pnpm-lock.yaml
yarn.lock
